img {
  width: 125%;
}

li {
  list-style-type: none;
}

.photo-item {
  display: flex;
}

.photo-list {
  display: flex;
  width: auto;
}

li {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

img {
  width: 45%;
}
